<!DOCTYPE html>
<html>
<head>
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Forgot password{% endblock %}

{% block content %}

<style>
    body { 
        background-color: rgb(204, 255, 51);
        background-image: url("/media/static/admin_static/carpartspng.png");
        background-repeat: no-repeat, repeat;
        height: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 90;
    }
    label {
        padding:15px;
    }
    .container {
        color: red;
    }
</style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% if request.GET.m == "s" %}
            <h3>Password reset link is sent to your email address. Please check your email immediately. </h3>
            {% else %}
            <h3>Enter your email used in making customer account to get password reset link</h3>
            {% if request.GET.m == "e" %}
            <h4 class="text-danger">Something went wrong, please enter your email again.</h4>
            {% endif %}
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button> Get Reset Link</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
</body>
{% endblock %}
