<!DOCTYPE html>
<html>
<head>
{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Reset password{% endblock %}

{% block content %}

<style>
    body { 
        background-color: rgb(204, 255, 51);
        background-image: url("/media/static/admin_static/carpartspng.png");
        background-repeat: no-repeat, repeat;
        height: 100%;
        background-position: right;
        background-repeat: no-repeat;
        background-size: 90;
    }
    label {
        padding:15px;
    }
</style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button>Reset password</button>
            </form>
        </div>
    </div>
</div>
</body>

{% endblock %}
